/* 전체 */
* {
    margin: 0 auto;
}
body {
    width: 950px;
}

header {
    width: 950px;
    height: 120px;
    background-color: blue;
    border: 1px solid;
}

h1 {
    color: white;
    text-align: center;
    line-height: 120px;
}

section {
    float: left;
    width: 650px;
    height: 500px;
    background-color: yellow;
}
aside {
    float: right;
    width: 300px;
    height: 500px;
    background-color: cadetblue;
}
footer {
    clear: both;
    height: 120px;
}