/* header */
header {margin-bottom: 5px; text-align: center; }
#logo { height: 20px; margin-top: 10px; margin-left: 10px;}
#login {margin: 10px 10px;}
#titleImg {display: none;}
/* nav */
.navi {
    height: 200px;
    background-color: rgb(5, 5, 63);
}
.navi a {
    display: block;
    line-height: 50px;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}
/* 본문 */
section {
    margin-top: 10px;
    padding-left: 10px;
}
section * {
    line-height: 2.5em;
}
/* aside */
aside img {
    width: 100%;   
}
/* footer */
footer {
    /* height: 100px; */
    padding: 20px;
    font-size: 0.8em;
    background-color: rgb(5, 5, 63);
    color: white;
}